*colors of the website:
blue : #1D68B3
light orange: #FBB040
dark orange: #EA6E24
*/

/*things that weren't used in small screen*/
.link{
  display: none;
}
.navsocial{
  display: none;
}
.space2{
  display: none;
}
.navu{
  display: none;
}
.impimg{
  display: none;
}
.secnav{
  display: none;
}
.soace4{
  display: none;
}
@media only screen and (min-width : 600px) {
  .spaces{
    display: none;
  }
  .coninfo{
    display: none;
  }
.titlec{
  width: 40%;
  margin-left: 59.5%
}
.navsocial{
  display: block;
  position: absolute;
  z-index: 51;
  width: 35%;
  margin : 20px 0% 0 40%;
}
.slink{
  color: white;
  margin : 0 15px 0 0;
}
.space2{
  display: block;
  height:56px;
}
.logo{
display: none;
}
.logo2{
display: none;
}
.coninfo{
  font-size: 1.5em;
}
.mapm{
  height: 300px;
}
.accordion{
  text-align: center;
}
.taktitle{
  font-size: 2.5em;
}
.contitle{

  font-size: 2.5em;
}
.inT{
  font-size: 2.5em;}
}
.footer{
  height: 250px;
  padding: 30px 20px 10px 15px;
}
.footerl{
  display: inline-block;
  width: 30%;
  text-align: center;
}
.social{
  width: 10%;
  display: inline-block;
  float: left;
}
.sflink{
  width: 100%;
}
.map{
  width: 100%;
  height: 100%;
}
.mapholder{
  position: absolute;
  width: 50%;
  height: auto;
margin: -150px 0 0 0;
}
@media only screen and (min-width : 768px) {
  body{
    width: 100%;
  }
  #navbar{
    top: 30px;
  }
  .sticky{
   top: 0 !important;
  }
  .secnav{
    display: block !important;
    position: absolute;
    background: #EA6E24;
    height: 30px;
    width: 100%;
    z-index: 10000;
    text-align: center;
    top:0;
  }
  .con{
    width: 100%;
  }
  #toggle{
    display: none;
  }
  .linkersm{
    display: none;
  }
  .link{
    display: inline-block;
    z-index: 151;
    color : white;
    font-size: 1.5em;
    margin: 0 10px 0 0;
    text-align: right;
    text-decoration: none;
    transition: 0.4s;
  }
  .link:hover{
    color: #EA6E24;
    font-weight: bold;
    text-decoration: none;
  }
  .link:active{
    text-decoration: none;
  }
  .navu{
    position: absolute;
    display: inline-block;
    direction: rtl;
    margin: 20px 0 0 16%;
    text-decoration: none;
    width: 60%;
  }
  .navu:hover, .navu:active{
    color: #EA6E24;
    text-decoration: none;
  }
  .navsocial{
 margin: 20px 0 0 75%;
 width: 25%;
  }
  .navb{
    width: 15%;
    font-size: 1.5em;
  }
  .eltahek:after{
    content: "التحق الان"
  }
  .manp, .manT{
    margin-right: 10%;
    width: 80%;
  }
  #takadam{
    direction: rtl;
  }
  .takarea1{
    width: 49.5%;
    display: inline-block;
  }
  .takbut{
  width: 100%;
  }
  .conarea1,.conarea2{
    display: inline-block;
    width: 49.6%;
    margin: 0;
  }
  .conbut{
    width:100%;
  }

}
@media only screen and (min-width : 1024px) {
  body{
    font-size: 1.2em;
  }
  /*.space4{
    width: 100%;
    height: 30px;
    display: block;
  }*/
  .con{
    color:  black;
    line-height: 1.5;
  }
  .logo{
    width: 20%;
    margin: -50px 0 0 55%;
    max-height: 250px;
  }
  .logo2{
    width: 30%;
    margin : -190px 0 0 30%;
  }
  .navu{
    margin-left: 10%;
    text-align: right;
  }
  .impimg{
    display: inline-block;
    width: 50%;
    margin: 0px 0 0 0;
    float: left;
  }
  .imptext{
    display: inline-block;
    width: 49%;
    margin: -0vw 0 0 0%;
    height: 29vw;
    float: right;
    list-style-type: circle;
  }
  .inM{
    height:50vw;
  }
  .accordion{
    margin: 0vw 0 0 0%;
  }
  .panel{
    height: 14vw;
    overflow: scroll;
  }
  .space3{
    height: 76px;
    width: 100%;
  }
  .coninfo{
    font-size: 2em;
  }
  .takbut, .conbut{
    width: 100%;
  }
  .flink{
    display: inline-block;
    width: 15%;
    margin: 0 0 0 0;
  }

  .newline{
    display: none;
  }
  .flink{
    width: 100%;
  }
  .footerl{
    width: 30%;
  }
}
